.popular-wrapper{
    .container{
        padding: 15px 60px;
        max-width: 1300px;
        margin: auto;
        ul{
            li{
                padding: 15px;
                .catCard {
                    position: relative;
                    overflow: hidden;
                    max-height: 230px;
                    img{width: 100%;}
                }
                .card-content {
                    position: absolute;
                    top: 30px;
                    z-index: 111;
                    left: 30px;
                }
            }
        }
    }
}